outputs/
*.mp3
videos_preprocessed*/
finetunes/

## Mochi

.venv
.venv_test
dist
__pycache__
mochi.egg-info
genmo.egg-info
outputs
build
.ruff_cache
*.mp4
*.txt
*.pt
*.log
*.json
*.safetensors
wandb/
*.err
*.out
*.MOV


## VideoLLaMA2

# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl
log_dir*/
temp*/

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
3rd_parties

# jupyter
.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
temp/

# data folder
data/
dataset/
datasets/

# training folder
wandb
ckpts*
output
output/
checkpoints
checkpoints/
work_dirs*/

# evaluation folder
/eval
/eval*

# pretrained weights
pretrained/
publish_models/
public_models/